In [1]:
from Match_Functions import *

In [2]:
#concat
df = csec_process('tb2008.xlsx', 'tb2009.xlsx', 'tb2010.xlsx', 'tb2011.xlsx', 'tb2012.xlsx', 'tb2013.xlsx')
df

,FIRST_NAME,MIDDLE_NAME,LAST_NAME,SEX,DATE_OF_BIRTH,IDENTIFIER1,IDENTIFIER2,IDENTIFIER3,ADDITIONAL MATHEMATICS,AGRICULTURAL SCIENCE DOU,...,SOCIAL STUDIES,SPANISH,TECHNICAL DRAWING,THEATRE ARTS,TYPEWRITING,VISUAL ARTS,SCHOOL,PRE_2012,YEAR,indexCSEC
0,AADEEN,PETAGAYE,SMITH,F,18Jun92,AADEENSMITH18Jun92F,AADEENPETAGAYESMITH18Jun92F,AADEENPSMITH18Jun92F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,multiple%DENBIGHHIGHSCHOOL%MATHUNLIMITED,1,1992,0
1,AADRENE,,BROWN,F,23Jul90,AADRENEBROWN23Jul90F,AADRENEBROWN23Jul90F,AADRENEBROWN23Jul90F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BROWNSTOWNHIGHSCHOOL(EVENING),1,1990,1
2,AADRIEN,SEAN,MCDERMOTT,M,29Oct90,AADRIENMCDERMOTT29Oct90M,AADRIENSEANMCDERMOTT29Oct90M,AADRIENSMCDERMOTT29Oct90M,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,EXCELSIORHIGHSCHOOL,1,1990,2
3,AADRONIE,,INGRAM,M,02May92,AADRONIEINGRAM02May92M,AADRONIEINGRAM02May92M,AADRONIEINGRAM02May92M,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,BROWNSTOWNHIGHSCHOOL,1,1992,3
4,AAGEL,A,MARSHALL,F,10Mar96,AAGELMARSHALL10Mar96F,AAGELAMARSHALL10Mar96F,AAGELAMARSHALL10Mar96F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,MEADOWBROOKHIGHSCHOOL,0,1996,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388471,ZWARDE,K,LOGAN,F,27Jul87,ZWARDELOGAN27Jul87F,ZWARDEKLOGAN27Jul87F,ZWARDEKLOGAN27Jul87F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SCHOOLOFEXCELLENCE,1,1987,388471
388472,ZWELI,,REID,M,20Apr95,ZWELIREID20Apr95M,ZWELIREID20Apr95M,ZWELIREID20Apr95M,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,multiple%HERBERTMORRISONTECHNICALSCHOOL%HERBER...,0,1995,388472
388473,ZWELI,KHALIL,REID,M,20Apr95,ZWELIREID20Apr95M,ZWELIKHALILREID20Apr95M,ZWELIKREID20Apr95M,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,PRIVATE SCHOOL,0,1995,388473
388474,ZYANE,M,BLACKWOOD,M,01May90,ZYANEBLACKWOOD01May90M,ZYANEMBLACKWOOD01May90M,ZYANEMBLACKWOOD01May90M,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SCHOOLOFEXCELLENCE:SANTACRUZ,0,1990,388474
388475,ZYANE,M,BLACKWOOD,M,05Jan90,ZYANEBLACKWOOD05Jan90M,ZYANEMBLACKWOOD05Jan90M,ZYANEMBLACKWOOD05Jan90M,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,MAGGOTTYHIGHSCHOOLEXTENSIONSCHOOL,1,1990,388475

In [3]:
#match
matched_df = match_gast_and_csec("GSAT_2007.xlsx", df)
matched_df

,EXAMID,PERIODID,CANDID,FNAME,SURNAME,MNAME,SCHOOLID,SCHOOLN,GENDER,DOB,...,TECHNICAL DRAWING,THEATRE ARTS,TYPEWRITING,VISUAL ARTS,SCHOOL,PRE_2012,YEAR,indexCSEC,IDENTIFIER3,IDENTIFIER1
0,GSAT,2007.0,51985013.0,KRISTI,CHARLES,E,02427,SAINTS PETER AND PAUL PREPARATORY,F,13/02/1996,...,NaN,NaN,NaN,NaN,CAMPIONCOLLEGE,0,1996,178778,NaN,NaN
1,GSAT,2007.0,74234837.0,ROMARIO,WHITE,M,02256,DUHANEY PARK PRIMARY,M,22/01/1996,...,NaN,NaN,NaN,NaN,CAMPIONCOLLEGE,0,1996,276052,NaN,NaN
2,GSAT,2007.0,38466328.0,RACHEL,CHIN,L,02439,THE QUEEN'S PREPARATORY,F,11/02/1996,...,NaN,NaN,NaN,5.0,CAMPIONCOLLEGE,0,1996,255883,NaN,NaN
3,GSAT,2007.0,65836119.0,ASHLEIGH,YEATES,S,08406,MOUNT ALVERNIA PREPARATORY,F,03/02/1995,...,NaN,NaN,NaN,NaN,MOUNTALVERNIAHIGHSCHOOL,0,1995,31250,NaN,NaN
4,GSAT,2007.0,94102931.0,ROMARIO,MAXWELL,A,02049,ST. RICHARD'S PRIMARY,M,10/03/1995,...,NaN,NaN,NaN,NaN,CAMPIONCOLLEGE,0,1995,275600,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,GSAT,2007.0,59335166.0,SHANEKE,PARRIS,R,12038,NEW FOREST PRI. & JNR. HIGH & INFANT,F,01/05/1995,...,NaN,NaN,NaN,NaN,CROSSKEYSHIGHSCHOOL,0,1995,307871,NaN,SHANEKEPARRIS01May95F
26301,GSAT,2007.0,36956262.0,OSHANE,STEWART,O,12005,BETHABARA PRIMARY & JUNIOR HIGH,M,03/03/1995,...,NaN,NaN,NaN,NaN,CROSSKEYSHIGHSCHOOL,0,1995,244944,NaN,OSHANESTEWART03Mar95M
26302,GSAT,2007.0,14728164.0,HOWARD,NELSON,R,05028,HILLSIDE PRIMARY,M,06/11/1994,...,NaN,NaN,NaN,NaN,ISLINGTONHIGHSCHOOL,0,1994,113119,NaN,HOWARDNELSON06Nov94M
26303,GSAT,2007.0,29306179.0,CARLTON,LOGAN,J,12057,WOODLANDS PRIMARY,M,22/02/1995,...,0.0,NaN,NaN,NaN,CROSSKEYSHIGHSCHOOL,0,1995,43652,NaN,CARLTONLOGAN22Feb95M
26304,GSAT,2007.0,24538409.0,ROSHANE,WALTERS,O,12057,WOODLANDS PRIMARY,M,19/12/1994,...,NaN,NaN,NaN,NaN,CROSSKEYSHIGHSCHOOL,0,1994,278931,NaN,ROSHANEWALTERS19Dec94M